.navRight{
    display: flex;
    padding-right: 1rem;
}
  
  .navRight-lnks{
    display: flex;
    gap: 0.1rem;
    padding: 0.1rem;
    border: 2px solid white;
    border-radius: 5%;
}

.navRight-extra{
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    width: 0.6rem;
    height: 1rem;
    margin: auto;
}

img:hover{
    transform:translateY(-3px);
    transition: 0.5s;
}

.battery-slab{
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 2.5rem;
    width: 2.5rem;
    background-color: white;
    border-radius: 5%;
}
  
.email-btn{
    border: none;
}
  
.gh-icon, .linkedin-icon, .email-icon{
    fill: black;
    transition: opacity 0.5s ease;
}
  
.gh-icon, .linkedin-icon{
    display: flex;
    margin: auto;
    margin-top: 6px;
}
  
.gh-text{
    position: absolute;
    top: 30%;
    left: 3%;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}
  
.linkedin-text{
    position: absolute;
    top: 32%;
    left: 3%;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
    font-size: 0.6rem;
    font-weight: bold;
    color: white;
}
  
.email-text{
    position: absolute;
    top: 28%;
    left: 11%;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}
  
.battery-slab:hover .gh-icon, .battery-slab:hover .linkedin-icon, .battery-slab:hover .email-icon{
    opacity: 0;
}
  
.battery-slab:hover .gh-text, .battery-slab:hover .linkedin-text, .battery-slab:hover .email-text{
    opacity: 1;
}
  
.battery-slab:hover{
    background-color: black;
}