html, body{
    /*background-image: url("./background1.jpg");*/
    background-color: #0A0A0A;
    background-size: cover;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
}

.main-wrapper{
    width: 100%;
    height: 100%;
}

.hero-content{
    z-index: 2;

    position: relative;
    top: 18%;
}

.hero-text > h1{
    font-size: 9vw;
}

.hero-text > p{
    width: 60%;/*50%;*/
    right: 5%;
    font-size: 1.5vw;/*18px;*/
}

.wrapper{
    width: 54%;
    line-height: 14vh;
    right: 8%;
}

#contact-lnk{
    padding: 0.8vh 1.5vw 0.8vh 1.5vw; /*8px 15px 8px 15px;*/
    font-size: 2vw;
}

.my-lnks > img{
    margin-left: 6px;
    width: 9%;
}

#github-lnk{
    width: 10%;
}

.footer{
    font-size: 1.2vw;
}

@media only screen and (max-width: 600px){
    .main-wrapper{
        width: 100%;
        height: 100%;
    }

    .hero-content{
        top: 24%;
    }

    .hero-text > h1{
        font-size: 14vw;
    }

    .hero-text > p{
        width: 72%;/*50%;*/
        left: 1.2%;
        font-size: 3.5vw;/*18px;*/
    }

    .wrapper{
        width: 63%;
        line-height: 8vh;
        right: 3.6%;
    }

    #contact-lnk{
        padding: 0.8vh 1.5vw 0.8vh 1.5vw; /*8px 15px 8px 15px;*/
        font-size: 2.6vw;
    }

    .my-lnks > img{
        margin-left: 6px;
        width: 12%;
    }
    
    #github-lnk{
        width: 13%;
    }

    .footer{
        font-size: 3vw;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px){
    .main-wrapper{
        width: 100%;
        height: 100%;
    }

    .hero-content{
        top: 24%;
    }

    .hero-text > h1{
        font-size: 10vw;
    }

    .hero-text > p{
        width: 80%;/*50%;*/
        left: 5%;
        font-size: 2.6vw;/*18px;*/
    }

    .wrapper{
        width: 68%;
        line-height: 9vh;
        right: 1.2%;
    }

    #contact-lnk{
        padding: 0.8vh 1.5vw 0.8vh 1.5vw; /*8px 15px 8px 15px;*/
        font-size: 2.6vw;
    }

    .my-lnks > img{
        margin-left: 6px;
        width: 12%;
    }
    
    #github-lnk{
        width: 13%;
    }

    .footer{
        font-size: 3vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .main-wrapper{
        width: 100%;
        height: 100%;
    }

    .hero-content{
        top: 24%;
    }

    .hero-text > h1{
        font-size: 9vw;
    }

    .hero-text > p{
        width: 70%;/*50%;*/
        right: 0%;
        font-size: 2vw;/*18px;*/
    }

    .wrapper{
        width: 64%;
        line-height: 10vh;
        right: 3.1%;
    }

    #contact-lnk{
        padding: 0.8vh 1.5vw 0.8vh 1.5vw; /*8px 15px 8px 15px;*/
        font-size: 2.6vw;
    }

    .my-lnks > img{
        margin-left: 6px;
        width: 12%;
    }
    
    #github-lnk{
        width: 13%;
    }

    .footer{
        font-size: 2vw;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    .main-wrapper{
        width: 100%;
        height: 100%;
    }

    .hero-text > p{
        width: 57%;/*50%;*/
        right: 6.6%;
    }

    .wrapper{
        width: 54%;
        line-height: 14vh;
        right: 8.1%;
    }

    #contact-lnk{
        padding: 0.8vh 1.5vw 0.8vh 1.5vw; /*8px 15px 8px 15px;*/
        font-size: 2.2vw;
    }

    .my-lnks > img{
        margin-left: 6px;
        width: 10%;
    }
    
    #github-lnk{
        width: 11%;
    }

    .footer{
        font-size: 1.2vw;
    }
}

.hero-text{
    /* Header & Subheader */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;

    width: 100%; /*544px;*/
    /*height: 260 px;*/

    background: transparent;
    opacity: 0.8;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.hero-text > h1{
    /*
    font-size: 65px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    */


    /* HI, I AM DARRIUS WHITE. */

    /*width: 71%;*//*544px;*/
    /*height: 182px;*/

    font-family: 'Bebas Neue', normal;
    font-style: normal;
    font-weight: 400;
    /*font-size: 9vw;8vw;*//*101px;*/
    line-height: 90%;
    /* or 91px */

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    margin: auto;
    width: 87%;/*50%;*/
    position: relative;
    left: 8%;
}

.hero-text > p{
    /*width: 50vw;*/
    
    /* A software developer passionate about designing interactive front-ends and delivering comprehensive back-end solutions. */

    /*width: 60%; 544px;*/
    /*height: 60px;*/

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    /*line-height: 150%;*/
    /* or 27px */

    color: #C7C7C7;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    margin: auto;
    position: relative;
    /*width: 60%;50%;
    position: relative;
    right: 5%;*/
}

/*custom button*/
.wrapper{
    /*transform: translate(-50%, -50%);*/
    /*margin-top: 15px;*/

    margin: auto;
    position: relative;
    /*width: 54%;
    line-height: 14vh;
    right: 8%;*/
}
  
#contact-lnk{
    /*padding: 1.5vh 2vw 1.5vh 2vw; 8px 15px 8px 15px;
    font-size: 1.6vw;*/
    font-family: 'Bebas Neue';
    text-decoration: none;
    color: #C7C7C7;
    border: 2px solid #C7C7C7;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    margin-right: 6px;
}
  
#contact-span{
    position: relative;
    z-index: 2;
    /*width: 27%;*/
}


#contact-lnk:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FFFFFF;
    transition: all .35s;
}
  
#contact-lnk:hover{
    color: #0A0A0A;
}
  
#contact-lnk:hover:after{
    width: 100%;
}

img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.footer{
    /*font-size: 1.2vw;*/

    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}





/* Background */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    /*margin: 0px auto;*/
    padding: 0px;
    margin: auto;
    overflow: hidden;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #0A0A0A;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}