*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'CustomFont', sans-serif;
  text-transform: uppercase;
}

body{
  overflow: hidden;
  background-color: black;
}

@font-face {
  font-family: 'CustomFont';
  src: url('./assets/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
}  

.navbar{
  margin-top: 1.6rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

main{
  overflow-x: "hidden";
}

/* Landscape */
@media (max-width: 600px) and (orientation: landscape){
  .navbar{
    margin-top: 1.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 800px) and (orientation: landscape){
  .navbar{
    margin-top: 1.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}