.local-date{
  color: white;
  position: absolute;
  font-size: 2rem;
  bottom: 3.5rem;
  right: 3rem;
  filter: blur(0.8px);
}
  
.local-time{
  color: white;
  position: absolute;
  font-size: 2rem;
  bottom: 1.25rem;
  right: 3rem;
  filter: blur(0.8px);
}

@media (max-width: 576px) and (orientation: portrait){
  .local-date{
    width: 100%;
    right: 0rem;
    bottom: 6.45rem;
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
  }

  .local-time{
    width: 100%;
    right: 0rem;
    bottom: 4.55rem;
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
  }
}

/* LANDSCAPE */

@media (max-width: 600px) and (orientation: landscape){
  .local-date{
    font-size: 1.5rem;
    bottom: 2.85rem;
  }

  .local-time{
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) and (max-width: 800px) and (orientation: landscape){ 
  .local-date{
    font-size: 1.5rem;
    bottom: 2.85rem;
  }

  .local-time{
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) and (max-width: 1080px) and (orientation: landscape){
  .local-date{
    font-size: 1.75rem;
    bottom: 2.85rem;
  }

  .local-time{
    font-size: 1.75rem;
  }
}